<table>
	<tr>
		<td id="sidebar">
<%= render 'layouts/sidebar' %>
		</td>
		<td id="main">
<h1>
	Welcome, <%= @user.name %>!
</h1>
<h2>
	News
</h2>
<p>
	News and updates will probably eventually go here...
</p>
<h2>
	First Time Using TRACKER?
</h2>
<p>
	Have a link to a tutorial, with an option to turn off...
</p>
		</td>
	</tr>
</table>
