<div class="sbtitle">Data Tracking</div>
<div class="sbdata">
	Links to data-related tasks: input, edit, etc.
</div>
<div class="sbtitle">Reports</div>
<div class="sbreports">
	Links to reporting tasks: view reports, etc.
</div>
<div class="sbtitle">Administration</div>
<div class="sbadmin">
	Links to administration tasks: preferences, settings, etc.
</div>
